.container{
    width: 100%;
}
.united{
    float: left;
    height:600px;
    width: 50%;
    margin-bottom: 20px;
}
.united2{
    float: right;
    height: 600px;
    width:50%;
    margin-bottom: 20px;
}
.f2{
    background-color: red;
}

.storlek{
    display:flex;
    flex-direction: column;
    height: 100%;
    min-height: 450px;
}
.storlek .btn{
   margin-top: auto;
}
.card-img-top{
    width: 100%;
    height: 100%;
}
.f1{
    margin-bottom: 20px;
}
.carousel-inner{
    width: 100%;
}
.kontakt{
    text-align: center; 
}
.storlek{
    height: 300px;
    width: 100%;
    object-fit: contain;
}